<div id="content">
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <% resource.build_profile %>

    <%= f.fields_for :profile do |ff| %>
    <div class="columns">
      <div class="left_col">
        <div><%= ff.label :first_name %><br />
      	<%= ff.text_field :first_name %></div>

      	<div><%= ff.label :last_name %><br />
        <%= ff.text_field :last_name %></div>
        
        <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true %></div>

        <div><%= f.label :password %><br />
        <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></div>
      </div>
      <div class="right_col">
        <div><%= ff.label :bio %><br />
        <%= ff.text_area :bio , rows: 13, cols: 21%></div>
      </div>
    </div>




    <% end %>



    <div><%= f.submit "Sign up" %></div>
  <% end %>

</div>