<!DOCTYPE html>
<html>
<head>
  <title>Tutorme</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
	<div id="header">
		<h1>Tutor Me</h1>
	</div>
		<div id="navigation">
			<ul id="nav">
				<li><%= link_to "Home", "#", id: 'current' %></li>
			</ul>
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</div>
	

</body>
</html>
